header {
   margin: 25px 100px;
}

h1 {
   font-size: 36pt;
   font-weight: bold;
}

.info {
   display: flex;
}

h2 {
   font-size: 18pt;
   font-weight: bold;
   margin: 0 30px 0 0;
   color: #999999;
   margin-left: 25px;
   font-size: 18pt;
   font-weight: normal;
}
h3 {
   margin: 15px 25px 25px;
   font-size: 15pt;
   width: 25vw;
   height: 50vh;
   overflow-y: auto;
   color: #999999;
}

.botao {
   display: flex;
   padding: 10px 20px;
   margin: 25px 10px 0 0;
   border-radius: 20px;
   background-color: #1D1D1D;
   cursor: pointer;
}

.botao h1 {
   font-weight: normal;
   font-size: 14pt;
   color: #999999;
}

svg {
   width: 25px;
   height: 25px;
   margin-right: 10px;
   fill: #999999;
}

.botao:hover h1, .botao:hover svg{
   color: white;
   fill: white;
}